/* .animation {
    width: 70px;
    height: 300px;
    background: red;
}

@keyframes anim {
    0% {
        background: green
    }
    25% {
        background: black;
    }
    80% {
        width: 70px;
    }
    100% {
        height: 100px;
    }
}

.animation {
    animation: anim 5s cubic-bezier(.17, .67, .83, .67) 1s infinite alternate forwards;
    animation-play-state: paused;
    /* animation-name: anim;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

.animation:hover {
    animation-play-state: running;
} */


/* .flex {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    height: 400px;
    border: 1px solid black;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.child {
    width: 400px;
    height: 50px;
    background: blue;
    margin: 0.5px;
} */

.flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    border: 1px solid black;
    height: 300px;
}

.child {
    height: 50px;
    flex-basis: 150px;
    background: yellow;
    flex-grow: 1;
    border: 1px solid black;
    flex-shrink: 1;
}

.child2 {
    flex-grow: 3;
}

.child3 {
    flex-shrink: 6;
    align-self: flex-end;
}